[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "virtualenvwrapperlite"]
	path = virtualenvwrapperlite
	url = https://github.com/dolph/virtualenvwrapperlite.git
