# ignore all vim plugins except Vundle, the plugin manager
!vim/bundle/
vim/bundle/*
!vim/bundle/Vundle.vim/

vim/.netrwhist

# Ignore the rackspace binary, which is platform dependent
bin/rack
bin/fly
