[defaults]

pipelining = true

# Hide no-ops
display_ok_hosts = false
display_skipped_hosts = false

# Use the future default behavior.
interpreter_python = auto

# Set the default inventory file.
inventory = inventory.yml

# Set a default vault password file
vault_password_file = vault.pass

# Enable pretty-printed JSON when running plays and ad-hoc commands.
stdout_callback = unixy
bin_ansible_callsbacks = True

# Poll for task completion more frequently.
internal_poll_interval = 0.1

[diff]

# Always show a line-by-line diff for every change.
always = true

[ssh_connection]

# Enable SSH agent forwarding
ssh_args = -o ServerAliveInterval=50 -o ServerAliveCountMax=6 -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ForwardAgent=yes
