[Unit]
Description=Reboot when needed on Monday mornings
Requires=reboot.service

[Timer]
Unit=reboot.service
OnCalendar=Mon *-*-* 14:00:00
RandomizedDelaySec=7200

[Install]
WantedBy=timers.target
