[Unit]
Description=Reboot when needed on Monday mornings
Requires=reboot.service

[Timer]
Unit=reboot.service
OnCalendar=Mon *-*-* 13:00:00 UTC
RandomizedDelaySec=0

[Install]
WantedBy=timers.target
